body {
    font-family: var(--font-family-main);
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul,
ol {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}