.container {
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }

        @media screen and (min-width: 480px) {
            .container {
                width: 480px;
            }
        }

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1680px) {
    .container {
        width: 1680px;
    }
}