@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --font-family-main: 'Montserrat', sans-serif;
  --main-color: #111518;
  --accent-color: #FF6B09;
  --extra-color: #3D3D3D;
  --second-extra-color: #B9B9B9;
  --optional-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: var(--font-family-main);
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
  }
}

.button {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  display: block;
  background-color: transparent;
}

.logo__icon {
  width: 80px;
  height: 29px;
}

@media screen and (min-width: 768px) {
  .logo__icon {
    width: 128px;
    height: 45px;
  }
}

.header {
  padding: 20px 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: none;
  }
}

@media screen and (min-width: 1680px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__btn {
  width: 280px;
  height: 48px;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--optional-color);
  border: 2px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__btn {
    width: 260px;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.21;
  text-transform: uppercase;
  gap: 40px;
  margin-right: 40px;
}

.navigation__link {
  color: var(--second-extra-color);
}

.burger {
  display: block;
}

.burger__icon {
  width: 20px;
  height: 12px;
}

@media screen and (min-width: 1680px) {
  .burger {
    display: none;
  }
}

.hero {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  line-height: 1.57;
  letter-spacing: 0.08em;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero__text-contaier {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero__text-contaier {
    margin-bottom: 48px;
  }
}

.hero__content-wrapper {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero__content-wrapper {
    margin-bottom: 0;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1680px) {
  .hero__title {
    font-size: 58px;
  }
}

.hero__sub-text {
  font-weight: 500;
  font-size: 14px;
  color: var(--second-extra-color);
}

@media screen and (min-width: 1680px) {
  .hero__sub-text {
    font-size: 20px;
    line-height: 1.65;
  }
}

@media screen and (min-width: 1680px) {
  .hero__main-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__main-text {
  font-size: 14px;
  color: var(--main-color);
  line-height: 1.65;
}

@media screen and (min-width: 1680px) {
  .hero__main-text {
    font-size: 20px;
  }
}

.hero__accent-text {
  font-size: 14px;
  color: var(--accent-color);
}

@media screen and (min-width: 1680px) {
  .hero__accent-text {
    font-size: 20px;
    line-height: 1.65;
    color: var(--main-color);
  }
}

.hero__btn {
  min-width: 280px;
  height: 48px;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--optional-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero__btn {
    min-width: 260px;
  }
}

@media screen and (min-width: 1680px) {
  .hero__btn {
    min-width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.21;
    padding: 0 70px;
  }
}

.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 208px;
          flex: 0 0 208px;
  height: 178px;
  background-color: teal;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 376px;
            flex: 0 0 376px;
    height: 321px;
    margin: 0;
  }
}

@media screen and (min-width: 1680px) {
  .hero__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 842px;
            flex: 0 0 842px;
    height: 718px;
    margin: 0;
  }
}

.program {
  background-color: var(--main-color);
  position: relative;
  padding-bottom: 385px;
}

.program__container {
  padding-top: 40px;
}

.program__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.program__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--optional-color);
}

.program__term {
  position: relative;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  line-height: 10px;
  color: var(--optional-color);
}

.program__term::before {
  content: '';
  position: absolute;
  display: block;
  left: -26px;
  top: -2px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--accent-color);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.program__subject {
  position: relative;
  display: block;
  margin-bottom: 16px;
  padding-left: 18px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

.program__subject::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 1px;
  height: 1px;
  width: 12px;
  background: var(--accent-color);
}

.program__topic {
  opacity: 0.5;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--second-extra-color);
}

.program__picture {
  position: absolute;
  right: -10px;
  bottom: 313px;
}

@media screen and (max-width: 1679.98px) {
  .program__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .program__list {
    border-left: 1px solid var(--optional-color);
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .border-hidden::after {
    content: '';
    position: absolute;
    display: block;
    top: -12px;
    left: -22px;
    height: 100px;
    width: 4px;
    background-color: var(--main-color);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (max-width: 767.98px) {
  .program__order-list:not(:last-child) {
    margin-bottom: 20px;
  }
  .program__container {
    padding-left: 56px;
  }
}

@media screen and (min-width: 768px) {
  .program__title {
    margin-bottom: 48px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  .program__term::before {
    left: -114px;
  }
  .border-hidden::after {
    left: -110px;
    top: -12px;
  }
  .program__picture {
    right: 0;
    bottom: 275px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1679.98px) {
  .program__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .program__list {
    padding-left: 108px;
  }
  .program__container {
    padding-left: 88px;
    padding-top: 75px;
  }
  .program__order-list {
    min-width: 140px;
  }
  .program__order-list:not(:last-child) {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1680px) {
  .program__container {
    padding-top: 80px;
  }
  .program__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    margin-bottom: 88px;
  }
  .program__term {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.08em;
    line-height: 14px;
    margin-bottom: 28px;
  }
  .program__term::before {
    left: 0;
    top: -54px;
  }
  .program__subject {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.08em;
  }
  .program__topic {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.08em;
  }
  .program__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid var(--optional-color);
    padding-top: 48px;
  }
  .program__item:not(:last-child) {
    margin-right: 74px;
  }
  .program__order-list:not(:last-child) {
    margin-bottom: 24px;
  }
  .program__subject {
    padding-left: 30px;
  }
  .program__subject::before {
    top: 16px;
    width: 20px;
  }
  .program__picture {
    left: 0;
    bottom: 25px;
  }
}

.about__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 20px;
}

.about__description {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--second-extra-color);
  margin-bottom: 20px;
}

.about__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.about__item:not(:last-child) {
  margin-bottom: 20px;
}

.about__list::after {
  content: '';
  display: block;
  width: 20px;
  border: 20px;
  height: 1px;
  background-color: var(--accent-color);
}

.about__list {
  margin-bottom: 20px;
}

.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--second-extra-color);
}

.about__text-container {
  margin-bottom: 8px;
}

.about__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.guarantee__title {
  margin-bottom: 40px;
  color: var(--main-color);
  font-weight: 800;
  font-size: 26px;
  line-height: 1.31;
  letter-spacing: 0.03em;
  text-align: center;
}

.guarantee__list {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: #F1F1F1;
}

.guarantee__item {
  position: relative;
  color: var(--extra-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}

.guarantee__item:not(:last-child) {
  margin-bottom: 24px;
}

.guarantee__item::before {
  position: absolute;
  content: '';
  display: block;
  width: 14px;
  height: 20px;
  background-size: contain;
  left: -25px;
  top: 0;
}

.guarantee__item:not(:last-child)::after {
  position: absolute;
  content: "";
  border-left: 1px dashed var(--second-extra-color);
  width: 1px;
  bottom: -21px;
  top: 23px;
  left: -19px;
}

.guarantee__accent {
  color: var(--accent-color);
}

@media screen and (min-width: 767.98px) {
  .guarantee__list {
    padding-left: 126px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1679.98px) {
  .guarantee__list {
    padding-left: 332px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .guarantee__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
  .guarantee__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.03em;
  }
  .guarantee__item::before {
    width: 22px;
    height: 30px;
  }
}

.footer__thumb {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__logo {
  margin-left: auto;
  margin-right: auto;
}

.footer__connection-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: #111518;
}

.footer__rights {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--font-family-main);
  background-color: #111518;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: #B9B9B9;
}
/*# sourceMappingURL=main.css.map */