@function decimal-round($number, $digits: 0, $mode: round) {
    $n: 1;

    // $number must be a number
    @if type-of($number) !=number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }

    // $digits must be a unitless number
    @if type-of($digits) !=number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    }

    @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }

    @if $digits>0 {
        @for $i from 1 through $digits {
            $n: $n * 10;
        }
    }

    @if $mode==round {
        @return round($number * $n) / $n;
    }

    @else if $mode==ceil {
        @return ceil($number * $n) / $n;
    }

    @else if $mode==floor {
        @return floor($number * $n) / $n;
    }

    @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}

@mixin size ($w, $h) {
    width: $w;
    height: $h;
}

@mixin font-style ($fw, $fs, $lh, $ls) {
font-weight: $fw;
font-size: $fs;
line-height: decimal-round($lh / $fs, 2);
letter-spacing: $ls;
}

// как использовать миксин? В коде, когда вам нужно указать параметры шрифтов вы пишите
// @include font-style (500, 14px, 28px, 0.03em); 
// И всё! Пара-пара-пам!
// Тоже самое с размерами @include size (40px, 40px);