<!-- advantages -->
<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href=" /images/sprite.svg#adv1"></use>
        </svg>
        <h3 class="advantages__description">
          Adapted author's
          UPE program
        </h3>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href=" /images/sprite.svg#adv2"></use>
        </svg>
        <h3 class="advantages__description">
          Modern <br>
          teaching methods
        </h3>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="/images/sprite.svg#adv3"></use>
        </svg>
        <h3 class="advantages__description">
          Financial guarantee <br>
          the resultе
        </h3>
      </li>
    </ul>
  </div>
</section>
<!-- advantages end -->
