<!-- advantages -->
<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--first">
        <h3 class="advantages__description ">
          Adapted author's <br>
          UPE program
        </h3>
      </li>
      <li class="advantages__item advantages__item--second">
        <h3 class="advantages__description">
          Modern <br>
          teaching methods
        </h3>
      </li>
      <li class="advantages__item advantages__item--third">
        <h3 class="advantages__description">
          Financial guarantee <br>
          the resultе
        </h3>
      </li>
    </ul>
  </div>
</section>
<!-- advantages end -->
