<!-- advantages -->
<section class="advantages">
  <div class="container">
    <h1 class="advantages__title"></h1>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__img">
          <svg class="advantages__icon" width="40" height="48">
            <use href=" /images/sprite.svg#icon-advantages1"></use>
          </svg>
        </div>
        <h3 class="advantages__description">
          Adapted author's <br />
          UPE program
        </h3>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <svg class="advantages__icon" width="40" height="48">
            <use href=" /images/sprite.svg#icon-advantages2"></use>
          </svg>
        </div>
        <h3 class="advantages__description">
          Modern<br />
          teaching methods
        </h3>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <svg class="advantages__icon" width="40" height="48">
            <use href="/images/sprite.svg#icon-advantages3"></use>
          </svg>
        </div>
        <h3 class="advantages__description">
          Financial guarantee <br />
          the resultе
        </h3>
      </li>
    </ul>
  </div>
</section>
<!-- advantages end -->
