<section class="connection">
  <div class="connection__container container">
    <div class="connection__thumb">
      <a class="connection__logo logo" href="#">
        <svg class="logo__icon">
          <use href="/images/sprite.svg#icon-logo-dark"></use>
        </svg>
      </a>

      <div class="connection__wrapper">
        <a class="connection__phone" href="tel:+380000000000">
          <svg class="connection__phone-icon" width="30" height="29">
            <use href="/images/sprite.svg#icon-phone"></use>
          </svg>
          +38 (000) 000 00 00</a
        >
        <a class="connection__social-link" href="#" lang="en">
          <img
            class="connection__social-icon"
            src="/images/connection/instagram.svg"
            alt="logo instagram"
          />
        </a>
      </div>
    </div>
  </div>
</section>
