<section class="section">
  <div class="container">
    <h2>We guarantee</h2>
    <ul>
      <li>
        You will pass the UPE with at least 25 points better than on the first practice test.
        Otherwise, we will refund your money.*
      </li>
      <li>
        You will learn to write essays with at least 10 points out of 14. While 20% of the students
        received 0 for essays.
      </li>
      <li>
        You will study in your area. We will choose the location for the classes after the teams
        have been formed.
      </li>
      <li>
        Teams will be formed based on the starting level of the students. We take into account the
        characteristics of each student.
      </li>
    </ul>
  </div>
</section>
