<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="" class="logo header__logo">
        <svg class="header__logo-icon">
          <use href="/images/sprite.svg#icon-logo-dark"></use>
        </svg>
      </a>
      <div class="header__menu">
        <nav class="header__nav navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="" class="navigation__link">Studying program</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link">About</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link">Training options</a>
            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link">Contacts</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="header__btn">Consultation by phone</button>
      </div>
      <button type="button" class="header__burger burger">
        <svg class="burger__icon">
          <use href="/images/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
