    <header class="header">
      <div class="container">
        <div class="header__container">
          <a href="" class="logo"></a>
          <div class="header__menu">
            <nav class="header__nav navigation">
              <ul class="navigation__list">
                <li class="navigation__item list">
                  <a href="" class="navigation__link link">Studying program</a>
                </li>
                <li class="navigation__item list">
                  <a href="" class="navigation__link link">About</a>
                </li>
                <li class="navigation__item list">
                  <a href="" class="navigation__link link">Training options</a>
                </li>
                <li class="navigation__item list">
                  <a href="" class="navigation__link link">Contacts</a>
                </li>
              </ul>
            </nav>
            <button type="button" class="header__btn">Consultation by phone</button>
          </div>
          <button type="button" class="header__burger burger">
            <svg class="burger__icon">
              <use></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
