<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content-wrapper">
        <h1 class="hero__title">Complex preparation for English UPE</h1>
        <div class="hero__text-contaier">
          <p class="hero__sub-text">It won’t be easy.</p>
          <div class="hero__main-text-wrapper">
            <p class="hero__main-text">But you’re guaranteed to get <span>&#32;</span></p>
            <p class="hero__accent-text">+25 points</p>
          </div>
        </div>
        <button type="button" class="hero__btn">I want a free lesson</button>
      </div>
      <div class="hero__img"></div>
    </div>
  </div>
</section>
