<section class="education">
    <div class="container ">
        <h2 class="education__title">How do we do it</h2>
        <ul class="education__list">
            <li class="education__item">
                <div class="education__icon-box">
                    <svg class="education__icon" width="45px" height="48px">
                        <use href="/images/sprite.svg#icon-howdo1"></use>
                    </svg>
                </div>
                <h3 class="education__text effect">Adapted program preparation for UPE</h3>
                <p class="education__discription">You will learn grammar and vocabulary at the same time. And you
                    will
                    learn how to write essays.</p>
            </li>
            <li class="education__item">
                <div class="education__icon-box">
                    <svg class="education__icon" width="46px" height="47px">
                        <use href="/images/sprite.svg#icon-howdo2"></use>
                    </svg>
                </div>
                <h3 class="education__text effect">Classroom and online learning</h3>
                <p class="education__discription">The teacher will help not only in the classroom, but also during
                    home
                    preparation.Parents can chat if
                    they wish.</p>
            </li>
            <li class="education__item">
                <div class="education__icon-box">
                    <svg class="education__icon" width="45px" height="48px">
                        <use href="/images/sprite.svg#icon-howdo3"></use>
                    </svg>
                </div>
                <h3 class="education__text effect">The habit of reading in English</h3>
                <p class="education__discription">Articles from sources that are used in the development of this UPE
                    will
                    be received by phone twice a
                    week.</p>
            </li>
            <li class="education__item">
                <div class="education__icon-box">
                    <svg class="education__icon" width="48px" height="48px">
                        <use href="/images/sprite.svg#icon-howdo4"></use>
                    </svg>
                </div>
                <h3 class="education__text effect">Psychological support</h3>
                <p class="education__discription">We will teach you testing techniques, the ability to plan your
                    confidence training in itself.</p>
            </li>
            <li class="education__item">
                <div class="education__icon-box">
                    <svg class="education__icon" width="40px" height="47px">
                        <use href="/images/sprite.svg#icon-howdo5"></use>
                    </svg>
                </div>
                <h3 class="education__text effect">Training on copyright manuals</h3>
                <p class="education__discription">You don't have to waste your time on a search for material and to
                    buy
                    anything extra. We have compiled 2
                    manuals for you.</p>
            </li>
            <li class="education__item">
                <div class="education__icon-box">
                    <svg class="education__icon" width="55px" height="47px">
                        <use href="/images/sprite.svg#icon-howdo6"></use>
                    </svg>
                </div>
                <h3 class="education__text effect">Ability to comprehend spoken English</h3>
                <p class="education__discription ">“F.R.I.E.N.D.S” won't help you. You will listen regularly and
                    analyze
                    audio recordings in accordance with
                    the studied vocabulary.</p>
            </li>
        </ul>

    </div>
</section>