<div class="mobile-menu">
  <img src="" alt="logo company" />
  <p>Hellish english</p>
  <button type="button" class="mobile-menu__close">
    <svg class="mobile-menu__icon" width="20" height="20">
      <use href=""></use>
    </svg>
  </button>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link">Studying program</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link">About</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link">Training options</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile-menu__link">Contacts</a>
    </li>
  </ul>
  <button type="button" class="button">Consultation by phone</button>
</div>
