<div class="mobile-menu" data-menu>
  <a class="logo_window_dark" href="#">
    <svg class="logo__icon">
      <use href="/images/sprite.svg#icon-logo-white"></use>
    </svg>
  </a>
  <button type="button" class="close-btn" data-burger-close data-menu-close>
    <svg class="close-btn__icon">
      <use href="/images/sprite.svg#icon-closebtnmenu"></use>
    </svg>
  </button>

  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="#program" class="mobile-menu__link" data-mobile-menu-link data-mobile-buger-link
        >Studying program</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#about" class="mobile-menu__link" data-mobile-menu-link data-mobile-buger-link
        >About</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#guarantee" class="mobile-menu__link" data-mobile-menu-link data-mobile-buger-link
        >Training options</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#connection" class="mobile-menu__link" data-mobile-menu-link data-mobile-buger-link
        >Contacts</a
      >
    </li>
  </ul>
  <button
    type="button"
    class="mobile-menu__button"
    data-modal-open
    data-mobile-modal-link
    data-mobile-menu-link
    data-mobile-buger-link
  >
    Consultation by phone
  </button>
</div>
