<section class="program" id="program">
  <div class="container">
    <h2 class="program__title">Our program</h2>
    <div class="program__container">
    <ul class="program__list">
      <li class="program__item">
        <h3 class="program__term">1 semester</h3>
        <ul class="program__order">
          <li class="program__order-list">
            <h4 class="program__subject">Grammar</h4>
            <ul>
              <li class="program__topic">Nouns &amp; Articles</li>
              <li class="program__topic">Adjectives &amp; Adverb</li>
            </ul>
          </li>
          <li class="program__order-list">
            <h4 class="program__subject">Vocabulary</h4>
            <ul>
              <li class="program__topic">Family &amp; Relations</li>
              <li class="program__topic">People &amp; Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__term">2 semester</h3>
        <ul class="program__order">
          <li class="program__order-list">
            <h4 class="program__subject">Grammar</h4>
            <ul>
              <li class="program__topic">Pronouns</li>
              <li class="program__topic">Active Voice</li>
              <li class="program__topic">Passive Voice</li>
            </ul>
          </li>
          <li class="program__order-list">
            <h4 class="program__subject">Vocabulary</h4>
            <ul>
              <li class="program__topic">Home</li>
              <li class="program__topic">School</li>
              <li class="program__topic">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__term">3 semester</h3>
        <ul class="program__order">
          <li class="program__order-list">
            <h4 class="program__subject">Grammar</h4>
            <ul>
              <li class="program__topic">Modal verbs</li>
              <li class="program__topic">Infinitive</li>
              <li class="program__topic">Gerund</li>
              <li class="program__topic">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program__order-list">
            <h4 class="program__subject">Vocabulary</h4>
            <ul>
              <li class="program__topic">Travel &amp; Tourism</li>
              <li class="program__topic">Culture &amp; Free Time</li>
              <li class="program__topic">Sport</li>
            </ul>
          </li>
          <li class="program__order-list">
            <h4 class="program__subject">Writing</h4>
            <p class="program__topic">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__term">4 semester</h3>
        <ul class="program__order">
          <li class="program__order-list">
            <h4 class="program__subject">Grammar</h4>
            <ul>
              <li class="program__topic">
                Clauses: Conditional <br />
                and Wishes
              </li>
              <li class="program__topic">
                Direct / Reported <br />
                speech
              </li>
              <li class="program__topic">Preposition</li>
              <li class="program__topic">Conjunction</li>
              <li class="program__topic">Numeral</li>
            </ul>
          </li>
          <li class="program__order-list">
            <h4 class="program__subject">Vocabulary</h4>
            <ul>
              <li class="program__topic">Healthy Living</li>
              <li class="program__topic">Nature &amp; Environment</li>
              <li class="program__topic">Money</li>
            </ul>
          </li>
          <li class="program__order-list">
            <h4 class="program__subject">Writing</h4>
            <p class="program__topic">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program__item">
        <h3 class="program__term">5 semester</h3>
        <p class="program__subject border-hidden"><span class="space"> </span></p>
        <ul class="program__order">
          <li class="program__topic">Revision</li>
          <li class="program__topic">Tests</li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</section>
