<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hell eng</title>
</head>

<body>
    <h2 class="our-program__title">Our program</h2>
    <ul class="our-program">
        <li class="our-program__item">
            <h3 class="our-program__term">1 semester</h3>
            <ul class="our-program__order">
                <li>
                    <b class="our-program__subject">Grammar</b>
                    <ul>
                        <li class="our-program__topic">Nouns &amp; Articles</li>
                        <li class="our-program__topic">Adjectives &amp; Adverb</li>
                    </ul>
                </li>
                <li>
                    <b class="our-program__subject">Vocabulary</b>
                    <ul>
                        <li class="our-program__topic">Family &amp; Relations</li>
                        <li class="our-program__topic">People &amp; Society</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="our-program__item">
            <h3 class="our-program__term" >2 semester</h3>
            <ul class="our-program__order">
                <li>
                    <b class="our-program__subject">Grammar</b>
                    <ul>
                        <li class="our-program__topic">Pronouns</li>
                        <li class="our-program__topic">Active Voice</li>
                        <li class="our-program__topic">Passive Voice</li>
                    </ul>
                </li>
                <li>
                    <b class="our-program__subject">Vocabulary</b>
                    <ul>
                        <li class="our-program__topic">Home</li>
                        <li class="our-program__topic">School</li>
                        <li class="our-program__topic">Work</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="our-program__item">
            <h3 class="our-program__term">3 semester</h3>
            <ul class="our-program__order">
                <li>
                    <b class="our-program__subject">Grammar</b>
                    <ul>
                        <li class="our-program__topic">Modal verbs</li>
                        <li class="our-program__topic">Infinitive</li>
                        <li class="our-program__topic">Gerund</li>
                        <li class="our-program__topic">Participle: 1, 2</li>
                    </ul>
                </li>
                <li>
                    <b class="our-program__subject">Vocabulary</b>
                    <ul>
                        <li class="our-program__topic">Travel &amp; Tourism</li>
                        <li class="our-program__topic">Culture &amp; Free Time</li>
                        <li class="our-program__topic">Sport</li>
                    </ul>
                </li>
                <li>
                    <b class="our-program__subject">Writing</b>
                    <p class="our-program__topic">Informal Letter</p>
                </li>
            </ul>
        </li>
        <li class="our-program__item">
            <h3 class="our-program__term">4 semester</h3>
            <ul class="our-program__order">
                <li>
                    <b class="our-program__subject">Grammar</b>
                    <ul>
                        <li class="our-program__topic">Clauses: Conditional <br>
                        and Wishes</li>
                        <li class="our-program__topic">Direct / Reported <br>
                        speech</li>
                        <li class="our-program__topic">Preposition</li>
                        <li class="our-program__topic">Conjunction</li>
                        <li class="our-program__topic">Numeral</li>
                    </ul>
                </li>
                <li>
                    <b class="our-program__subject">Vocabulary</b>
                    <ul>
                        <li class="our-program__topic">Healthy Living</li>
                        <li class="our-program__topic">Nature &amp; Environment</li>
                        <li class="our-program__topic">Money</li>
                    </ul>
                </li>
                <li>
                    <b class="our-program__subject">Writing</b>
                    <p class="our-program__topic">Informal Letter</p>
                </li>
            </ul>
        </li>
        <li class="our-program__item">
            <h3 class="our-program__term">5 semester</h3>
            <ul class="our-program__order">
                <li class="our-program__topic">Revision</li>
                <li class="our-program__topic">Tests</li>
            </ul>
        </li>
    </ul>
    <picture>
        <source srcset="../images/lesson-desktop.webp 1x, ../images/lesson-desktop@2x.webp 2x" media="(min-width: 1366px)"
            type="image/webp" />
        <source srcset="../images/lesson-desktopr.jpg 1x, ../images/lesson-desktop@2x.jpg 2x"
            media="(min-width: 1366px)" />

        <source srcset="../images/lesson-tablet.webp 1x, ../images/lesson-tablet@2x.webp 2x" media="(min-width: 768px)"
            type="image/webp" />
        <source srcset="../images/lesson-tablet.jpg 1x, ../images/lesson-tablet@2x.jpg 2x" media="(min-width: 768px)" />

        <source srcset="../images/lesson-mobile.webp 1x, ../images/lesson-mobile@2x.webp 2x" media="(max-width: 767px)"
            type="image/webp" />
        <source srcset="../images/lesson-mobile.jpg 1x, ../images/lesson-mobile@2x.jpg 2x" media="(max-width: 767px)" />
        <img src="../images/lesson-desktop.jpg" alt="English lesson">
    </picture>
</body>

</html>