<section class="problems">
    <div class="container problems-container__title">
        <h2 class="problems__tittle">The main problems of students in English UPE, which we 
            <span class="problems__tittle problems__tittle--color">help</span> to solve 
        </h2>
    </div>

    <div class="container problems-container__list">
        <ul class="list problems__list">
            <li class="problems-list__item">Grammar</li>
            <li class="problems-list__item">Inability to understand spoken English</li>
            <li class="problems-list__item">Stingy vocabulary for writing an essay</li>
            <li class="problems-list__item">Preparing alone</li>
            <li class="problems-list__item">Lack of a single knowledge resource</li>
            <li class="problems-list__item">Lack of self-organization and laziness</li>
        </ul>
    </div>
</section>