<section class="problems">
    <div class="container problems__container">
        <h2 class="problem__text">The main problems of students <br> in English UPE, which <br> we 
            <span class="problem__text problem__text--color">help</span> to solve 
        </h2>
    
        <ul class="problems__list">
            <li class="problems__item">
                <b class="problems__hyphen"></b>
                <p class="problems__text">Grammar</p>
            </li>
            <li class="problems__item">
                <b class="problems__hyphen"></b>
                <p class="problems__text">Inability to understand spoken English</p>
            </li>
            <li class="problems__item">
                <b class="problems__hyphen"></b>
                <p class="problems__text">Stingy vocabulary for writing an essay</p>
            </li>
            <li class="problems__item">
                <b class="problems__hyphen"></b>
                <p class="problems__text">Preparing alone</p>
            </li>
            <li class="problems__item">
                <b class="problems__hyphen"></b>
                <p class="problems__text">Lack of a single knowledge resource</p>
            </li>
            <li class="problems__item">
                <b class="problems__hyphen"></b>
                <p class="problems__text">Lack of self-organization and laziness</p>
            </li>
        </ul>
    </div>  
</section>