<section class="problems">
    <div class="container problems-container__title">
        <div class="problems__tittle">
            <h2 class="problems__tittle-text">The main problems of students <br> in English UPE, which <br> we 
                <span class="problems__tittle-text problems__tittle-text--color">help</span> to solve 
            </h2>
        </div>
    </div>
    
    <div class="container problems-container__list">
        <ul class="list problems__list">
            <li class="problems-list__item">
                <p>Grammar</p>
            </li>
            <li class="problems-list__item">Inability to understand spoken English</li>
            <li class="problems-list__item">Stingy vocabulary for writing an essay</li>
            <li class="problems-list__item">Preparing alone</li>
            <li class="problems-list__item">Lack of a single knowledge resource</li>
            <li class="problems-list__item">Lack of self-organization and laziness</li>
        </ul>
    </div>
</section>