<section class="review">
  <div class="container">
    <h2 class="review__title">Feedback from graduates</h2>
    <div class="review__wrapper">
      <a class="review__icon-tablet" href="#">
        <svg width="30" height="30">
          <use href="/images/sprite.svg#icon-arrowleft"></use>
        </svg>
      </a>
      <article class="review__article">
        <div class="review__wrap-img">
          <picture>
            <source
              srcset="
                /images/review-img/desktop-review1-img.webp    1x,
                /images/review-img/desktop-review1-img@2x.webp 2x
              "
              media="(min-width:1680px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/review-img/desktop-review1-img.png    1x,
                /images/review-img/desktop-review1-img@2x.png 2x
              "
              media="(min-width:1680px)"
            />
            <source
              srcset="
                /images/review-img/desktop-review1-img.webp    1x,
                /images/review-img/desktop-review1-img@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/review-img/desktop-review1-img.png    1x,
                /images/review-img/desktop-review1-img@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /images/review-img/mobile-review1-img.webp    1x,
                /images/review-img/mobile-review1-img@2x.webp 2x
              "
              media="(max-width:767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                /images/review-img/mobile-review1-img.png    1x,
                /images/review-img/mobile-review1-img@2x.png 2x
              "
              media="(max-width:767.98px)"
            />
            <img
              class="review__author-img"
              src="/images/review-img/desktop-review1-img.png"
              width="150"
              height="150"
              alt="User"
            />
          </picture>
          <a class="review__vk" href="#">
            <svg class="review__icon" width="30" height="30">
              <use href="/images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
        <div class="review__discription">
          <h4 class="review__author">Tonya Kucherovskaya</h4>
          <p class="review__education">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="review__comment">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to <span class="review__dots">...</span><span class="review__more">make the slightest mistake. Now I can brag
            that I'm student of National Technical University in Oklachoma City.</span>
            <button class="review__btn">Read more</button>
          </p>
        </div>
      </article>
      <a class="review__icon-tablet" href="#">
        <svg width="30" height="30">
          <use href="/images/sprite.svg#icon-arrowright"></use>
        </svg>
      </a>
    </div>
    <div class="review__box">
<a class="review__pre" href="#">
  <svg width="30" height="30">
    <use href="/images/sprite.svg#icon-arrowleft"></use>
  </svg>
</a>
<ul class="review__list">
  <li class="review__item review__item--one">
    <picture>
      <source srcset="
              /images/review-img/desktop-review2-img.webp    1x,
              /images/review-img/desktop-review2-img@2x.webp 2x
            " media="(min-width:1680px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review2-img.png    1x,
              /images/review-img/desktop-review2-img@2x.png 2x
            " media="(min-width:1680px)" />
      <source srcset="
              /images/review-img/desktop-review2-img.webp    1x,
              /images/review-img/desktop-review2-img@2x.webp 2x
            " media="(min-width:768px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review2-img.png    1x,
              /images/review-img/desktop-review2-img@2x.png 2x
            " media="(min-width:768px)" />
      <source srcset="
              /images/review-img/mobile-review2-img.webp    1x,
              /images/review-img/mobile-review2-img@2x.webp 2x
            " media="(max-width:767.98px)" type="image/webp" />
      <source srcset="
              /images/review-img/mobile-review2-img.png    1x,
              /images/review-img/mobile-review2-img@2x.png 2x
            " media="(max-width:767.98px)" />
      <img class="review__img" src="/images/review-img/desktop-review2-img.png" width="54" height="54" alt="User" />
    </picture>
  </li>
  <li class="review__item review__item--two">
    <picture>
      <source srcset="
              /images/review-img/desktop-review3-img.webp    1x,
              /images/review-img/desktop-review3-img@2x.webp 2x
            " media="(min-width:1680px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review3-img.png    1x,
              /images/review-img/desktop-review3-img@2x.png 2x
            " media="(min-width:1680px)" />
      <source srcset="
              /images/review-img/desktop-review3-img.webp    1x,
              /images/review-img/desktop-review3-img@2x.webp 2x
            " media="(min-width:768px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review3-img.png    1x,
              /images/review-img/desktop-review3-img@2x.png 2x
            " media="(min-width:768px)" />
      <source srcset="
              /images/review-img/mobile-review3-img.webp    1x,
              /images/review-img/mobile-review3-img@2x.webp 2x
            " media="(max-width:767.98px)" type="image/webp" />
      <source srcset="
              /images/review-img/mobile-review3-img.png    1x,
              /images/review-img/mobile-review3-img@2x.png 2x
            " media="(max-width:767.98px)" />
      <img class="review__img" src="/images/review-img/desktop-review3-img.png" width="54" height="54"
        alt="User" />
    </picture>
  </li>
  <li class="review__item review__item--three">
    <picture>
      <source srcset="
              /images/review-img/desktop-review4-img.webp    1x,
              /images/review-img/desktop-review4-img@2x.webp 2x
            " media="(min-width:1680px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review4-img.png    1x,
              /images/review-img/desktop-review4-img@2x.png 2x
            " media="(min-width:1680px)" />
      <source srcset="
              /images/review-img/desktop-review4-img.webp    1x,
              /images/review-img/desktop-review4-img@2x.webp 2x
            " media="(min-width:768px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review4-img.png    1x,
              /images/review-img/desktop-review4-img@2x.png 2x
            " media="(min-width:768px)" />
      <source srcset="
              /images/review-img/mobile-review4-img.webp    1x,
              /images/review-img/mobile-review4-img@2x.webp 2x
            " media="(max-width:767.98px)" type="image/webp" />
      <source srcset="
              /images/review-img/mobile-review4-img.png    1x,
              /images/review-img/mobile-review4-img@2x.png 2x
            " media="(max-width:767.98px)" />
      <img class="review__img" src="/images/review-img/desktop-review4-img.png" width="54" height="54"
        alt="User" />
    </picture>
  </li>
  <li class="review__item review__item--four">
    <picture>
      <source srcset="
              /images/review-img/desktop-review5-img.webp    1x,
              /images/review-img/desktop-review5-img@2x.webp 2x
            " media="(min-width:1680px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review5-img.png    1x,
              /images/review-img/desktop-review5-img@2x.png 2x
            " media="(min-width:1680px)" />
      <source srcset="
              /images/review-img/desktop-review5-img.webp    1x,
              /images/review-img/desktop-review5-img@2x.webp 2x
            " media="(min-width:768px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review5-img.png    1x,
              /images/review-img/desktop-review5-img@2x.png 2x
            " media="(min-width:768px)" />
      <img class="review__img" src="/images/review-img/desktop-review5-img.png" width="54" height="54"
        alt="User" />
    </picture>
  </li>
  <li class="review__item review__item--five">
    <picture>
      <source srcset="
              /images/review-img/desktop-review6-img.webp    1x,
              /images/review-img/desktop-review6-img@2x.webp 2x
            " media="(min-width:1680px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review6-img.png    1x,
              /images/review-img/desktop-review6-img@2x.png 2x
            " media="(min-width:1680px)" />
      <source srcset="
              /images/review-img/desktop-review6-img.webp    1x,
              /images/review-img/desktop-review6-img@2x.webp 2x
            " media="(min-width:768px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review6-img.png    1x,
              /images/review-img/desktop-review6-img@2x.png 2x
            " media="(min-width:768px)" />
      <img class="review__img" src="/images/review-img/desktop-review6-img.png" width="54" height="54"
        alt="User" />
    </picture>
  </li>
  <li class="review__item review__item--six">
    <picture>
      <source srcset="
              /images/review-img/desktop-review7-img.webp    1x,
              /images/review-img/desktop-review7-img@2x.webp 2x
            " media="(min-width:1680px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review7-img.png    1x,
              /images/review-img/desktop-review7-img@2x.png 2x
            " media="(min-width:1680px)" />
      <source srcset="
              /images/review-img/desktop-review7-img.webp    1x,
              /images/review-img/desktop-review7-img@2x.webp 2x
            " media="(min-width:768px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review7-img.png    1x,
              /images/review-img/desktop-review7-img@2x.png 2x
            " media="(min-width:768px)" />
      <img class="review__img" src="/images/review-img/desktop-review7-img.png" width="54"
        height="54" alt="User" />
    </picture>
  </li>
  <li class="review__item review__item--seven">
    <picture>
      <source srcset="
              /images/review-img/desktop-review8-img.webp    1x,
              /images/review-img/desktop-review8-img@2x.webp 2x
            " media="(min-width:1680px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review8-img.png    1x,
              /images/review-img/desktop-review8-img@2x.png 2x
            " media="(min-width:1680px)" />
      <source srcset="
              /images/review-img/desktop-review8-img.webp    1x,
              /images/review-img/desktop-review8-img@2x.webp 2x
            " media="(min-width:768px)" type="image/webp" />
      <source srcset="
              /images/review-img/desktop-review8-img.png    1x,
              /images/review-img/desktop-review8-img@2x.png 2x
            " media="(min-width:768px)" />
      <img class="review__img" src="/images/review-img/desktop-review8-img.png" width="54"
        height="54" alt="User" />
    </picture>
  </li>
</ul>
<a class="review__next" href="#">
  <svg width="30" height="30">
    <use href="/images/sprite.svg#icon-arrowright"></use>
  </svg>
</a>
    </div>
  </div>
</section>
