.button {
    margin-right: auto;
    margin-left: auto;
    // font-family: var(--font-family-main);
   
    // font-weight: 700;
    // font-size: 16px;             Катя обіцяла mixin
    // line-height: 1.87;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    // color: var(--color-logo-dark-bgd);
    // background-color: var(--color-logo);
    cursor: pointer;
    border: transparent;
    // border-radius: 4px;
    // padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    // &:focus {
    //     background-color: var(--color-button-hover);
    // }


}