.logo {
    display: block;
    background-color: transparent;
}

.logo__icon {
    @include size (80px, 29px);
   
    @media screen and (min-width: 768px) {
    @include size (128px, 45px);
    }
}
.logo_window_dark {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
}