.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 250ms linear;
        &:hover,
        &:focus {
            box-shadow: (2px 2px 4px 2px rgba(255, 107, 9, 0.25));  
        }
    
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: scale(1.2);

    }
}
.modal {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(17, 21, 24, 0.9);
    padding-right: 20px;
    padding-left: 20px;
        }

