
.about__title{
    @include font-size (800, 20px, 26px, 0.03em);
    color: var(--main-color);
    margin-bottom: 20px;
}
.about__description{
    @include font-size (800, 20px, 26px, 0.03em);
    color: var(--main-color);
    
    padding-bottom: 8px;
    border-bottom: 1px solid var(--second-extra-color);
    margin-bottom: 20px;
}

.about__item{
    @include font-size (600, 14px, 17px, 0.06em);
    color: var(--main-color);

    &:not(:last-child){
        margin-bottom: 20px;
    }
}
/*оранжевая линия*/
.about__list{
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.about__list::after{
    content: "" ;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    border: 20px;
    
    width: 20px;
    height: 1px;
    background-color: var(--accent-color);
}
.about__text{
    @include font-size (500, 12px, 20px, 0.08em);
    color: var(--second-extra-color); 
}
.about__text-container{
    margin-bottom: 8px;
}
.about__link{
    @include font-size (500, 12px, 20px, 0.08em);
    text-decoration-line: underline;
    color: var(--accent-color);
}


