
.about__title{
    @include font-style (800, 20px, 26px, 0.03em);
    color: var(--main-color);
    margin-bottom: 20px;
}
.about__description{
    @include font-style (800, 20px, 26px, 0.03em);
    color: var(--main-color);
    
    padding-bottom: 8px;
    border-bottom: 1px solid var(--second-extra-color);
    margin-bottom: 20px;
}

.about__item{
    @include font-style (600, 14px, 17px, 0.06em);
    color: var(--main-color);

    &:not(:last-child){
        margin-bottom: 20px;
    }
    
}
.about__list::after{
    content: '';
    display: block;
    width: 20px;
    border: 20px;
    height: 1px;
    background-color: var(--accent-color);
    
}

.about__list{
    margin-bottom: 20px
}

.about__text{
    @include font-style (500, 12px, 20px, 0.08em);
    color: var(--second-extra-color); 
}
.about__text-container{
    margin-bottom: 8px;
}
.about__link{
    @include font-style (500, 12px, 20px, 0.08em);
    text-decoration-line: underline;
    color: var(--accent-color);
}

