  .advantages__item {
    display: flex;
    align-items: center;
  }
    .advantages-container {
      margin-top: 40px;
      margin-bottom: 80px;
    }
// 0px-1679px
@media screen and (max-width:1679px){
  // @include font-size (500, 14px, 28px, 0.03em);
.advantages__description{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.64;
}
.advantages__description {
  margin-left: 12px;
}
.advantages__icon {
  width: 60px;
  height: 60px;
}
}

// 0px-767px 
@media screen and (max-width:767px){
  .advantages__item:not(:last-child) {
  margin-bottom: 24px;
  }
.advantages__list{
  margin-top: 40px;
  margin-bottom: 40px;
  }
.advantages__description{
  width: 209px;
  height: 46px;
}

}

// TABLET  
@media screen and (min-width:768px){
.advantages__list {
  display: flex;
  justify-content: flex-start;
  }
  .advantages__item:not(:last-child) {
  margin-right: 21px;
  }
.advantages__description {
  width: 146px;
  height: 46px;
}
}

// DESKTOP 
@media screen and (min-width:1680px) {
.advantages__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 8%;
  }
.advantages__description {
  width: 366px;
  }
    .advantages__item:not(:last-child) {
      margin-right: 112px;
    }
}
