.benefits {
    background-image: linear-gradient(
    to bottom,
    var(--main-color) 55%,
    var(--optional-color) 45%);
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(
        to top,
        var(--optional-color) 70%,
        var(--main-color) 30%);
    }
    
    @media screen and (min-width: 1680px) {
        background-image: linear-gradient(
        to top,
        var(--optional-color) 60%,
        var(--main-color) 40%);

        padding-bottom: 80px;
    }
}

.benefits__title {
    @include font-style (800, 26px, 34px, 0.03em);
    color: var(--optional-color);
    text-align: center;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1680px) {
        display: none;
    }
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: number 0;
    width: 88%;
    
    margin-left: auto;
    margin-right: auto;
    

    background-color: var(--optional-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    @media screen and (max-width: 767.98px) {
        flex-direction: column;
        max-width: 425px;
       padding: 20px;
    }

    @media screen and (min-width: 768px) {
        justify-content:flex-start;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 92px;
    }

    @media screen and (min-width: 1680px) {
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 140px;
        padding-right: 140px;
    }
}

.benefits__item {
    position: relative;
    counter-increment: number 1;
    @include font-style (700, 14px, 24px, 0.08em);

    &::before {
        content: "— 0" counter(number);
        margin-bottom: 8px;
        color: var(--accent-color);
    }

    @media screen and (max-width: 767.98px) {
        &:not(:last-child){ 
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width: 768px) and (max-width:1679.98px) {
    width: 215px;
    
        &:not(:nth-child(2n)) {
            margin-right: 60px;
        }

        &:not(:nth-last-child(-n+2)){ 
            margin-bottom: 44px;
        }
    }

    @media screen and (min-width: 1680px) {
        &:not(:nth-child(3n)) {
                margin-right: 100px;
            }
        
            width: 336px;
            font-size: 20px;
            line-height: 1.4;
        
            &:not(:nth-last-child(-n+3)) {
                margin-bottom: 100px;
            }
    }
}

.benefits__text {
    color: var(--main-color);
}