.contact { 
    align-items: center;
    text-align: center;

    background-color: rgba(17, 21, 24, 1);
        background-image: linear-gradient(rgba(17, 21, 24, 0.8),
                rgba(17, 21, 24, 0.8)), url("/images/contact/bgform-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        padding-top: 40px;
        padding-bottom: 40px;

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .contact {
        background-image: linear-gradient(rgba(17, 21, 24, 0.8),
                rgba(17, 21, 24, 0.8)), url("/images/contact/bgform-mobile@2x.jpg");
    }
}
}
.contact__header {
    @include font-style (800, 14px, 18.2px, 0.03em);
    color: var(--optional-color);
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.contact--accent {
    color: var(--accent-color);
}

.contact__description {
    @include font-style (600, 12px, 14.63px, 0.08em);
    color: var(--optional-color);
    margin-bottom: 40px;
}

.contact__input {
    display: block;
    @include size (100%, 48px);
    border: 1px solid rgba(255, 255, 255, 1);
    outline: none;
    background: none;
    background-color: transparent;
    color: var(--optional-color);
    padding: 15px 28px;

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    &::placeholder {
        @include font-style (600, 14px, 17.07px, 0.08em);
        color: var(--optional-color);
    }

    &:not(:placeholder-shown):required:invalid {
        border-color: #FF0000;
    }

    &:first-child {
        margin-bottom: 20px;
    }

    &:nth-child(2) {
        margin-bottom: 40px;
    }

}

.contact__btn {
    width: 100%;
    padding: 14px 0px;
    border: none;
    @include font-style (700, 12px, 14.63px, 0.08em);
    font-family: inherit;
    color: var(--optional-color);
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--accent-color);
    transition: transform 250ms linear;

    &:hover,
        &:focus {
            box-shadow: (2px 2px 4px 2px rgba(255, 107, 9, 0.25));
            transform: scale(1.05);
        }
}

@media screen and (min-width: 321px) {
    .contact {
        background-image: linear-gradient(rgba(17, 21, 24, 0.8),
                rgba(17, 21, 24, 0.8)), url("/images/contact/bgform-tablet.jpg");
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .contact {
                background-image: linear-gradient(rgba(17, 21, 24, 0.8),
                        rgba(17, 21, 24, 0.8)), url("/images/contact/bgform-tablet@2x.jpg");
            }
        }

    }
}
@media screen and (min-width: 768px) {
    .contact__header {
        @include font-style (800, 26px, 33.8px, 0.03em);
        width: 688px;
        margin-bottom: 40px
        
    }

    .contact__description {
        @include font-style (600, 14px, 17.07px, 0.08em);
        margin-bottom: 24px;              
    }
  
    .contact__input {
        box-sizing: border-box;
        @include size (336px, 48px);
        padding: 15px 24px;
        margin-left: auto;
        margin-right: auto;
        &:nth-child(2) {
            margin-bottom: 32px;
        }
    }

    .contact__btn {
        width: 335px;
           }
}

@media screen and (min-width: 769px) {
    .contact {
        background-image: linear-gradient(rgba(17, 21, 24, 0.8),
                rgba(17, 21, 24, 0.8)), url("/images/contact/bgform-desktop.jpg");
        padding: 80px 0px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .contact {
                background-image: url("/images/contact/bgform-desktop@2x.jpg");
            }
        }
    }
}
@media screen and (min-width: 1680px) {
    .contact__header {
        @include font-style (800, 46px, 59.8px, 0.03em);
        width: 1090px;
        }

    .contact__description {
        @include font-style (600, 30px, 36.57px, 0.08em);
        margin-bottom: 60px;
    }

    .contact__input {
        @include size (528px, 70px);
        padding: 23px 24px;
        font-size: 20px;

        &::placeholder {
            @include font-style (600, 20px, 24.38px, 0.08em);
        }
        &:first-child {
            margin-bottom: 32px;
        }
        &:nth-child(2) {
            margin-bottom: 40px;
        }
    }

    .contact__btn {
        @include font-style (700, 14px, 17.07px, 0.14em);
        width: 528px;
        padding: 27px 0px;
    }
}


