.footer__thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}

.footer__connection-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
        @include font-style (600, 14px, 17px, 0.08em);
        color: #111518;
        transition: color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.footer__connection-icon {
    fill: var(--accent-color);
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.215, 0.610, 0.355, 1), transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1);

    .footer__connection-link:hover>&,
    .footer__connection-link:focus>& {
        fill: var(--main-color);
        transform: scale(1.2);
    }
}

.footer__social-icon {
    transition: transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1);

    .footer__social-link:hover>&,
    .footer__social-link:focus>& {
        transform: scale(1.2);
    }
}

.footer__rights {
        padding-top: 24px;
        padding-bottom: 24px;
        font-family: var(--font-family-main);
        background-color: #111518;
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        // @mixin не можу застосувати бо відсутній в макеті letter-spacing 
        text-align: center;
        color: #B9B9B9;
    }

@media screen and (min-width: 768px) {
    .footer__thumb {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        //     padding-right: 32px;
        //     padding-left: 32px;
        }
    
        .footer__logo {
            margin: 0px;
        }

        .footer__wrapper {
            flex-direction: row;
        }
    
        .footer__connection-link {
            margin-right: 24px;
            margin-bottom: 0px;
            @include font-style (600, 20px, 24px, 0.08em);

            &::after {
                content: ' ';
                display: block;
                margin-left: 24px;
                height: 40px;
                border: 1px solid #B9B9B9;
            }
        }
}

@media screen and (min-width: 1680px) {
    .footer__thumb {
        justify-content: space-between;
        align-items: center;
        // padding-right: 16px;
        // padding-left: 16px;
    }

    .footer__wrapper {
        justify-content: center;
        flex-grow: 1;
    }

    .footer__connection-link {
        @include font-style (600, 30px, 37px, 0.08em);

    }
}