

.footer__rights {
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: var(--font-family-main);
    background-color: #111518;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    // @mixin не можу застосувати бо відсутній в макеті letter-spacing 
    text-align: center;
    color: #B9B9B9;
}
