.footer__thumb {
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
        margin-left: auto;
        margin-right: auto;
}

.footer__logo {
    background-color: inherit;
}

.footer__logo-icon{
    @include size (80px, 29px);
}

.footer__connection-link {
        @include font-style (600, 14px, 17px, 0.08em);
        color: #111518;
}

.footer__rights {
        padding-top: 24px;
        padding-bottom: 24px;
        font-family: var(--font-family-main);
        background-color: #111518;
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        // @mixin не можу застосувати бо відсутній в макеті letter-spacing 
        text-align: center;
        color: #B9B9B9;
    }
