.guarantee__title{
    color: #111518;
    font-style: 800; 
    font-size: 26px; 
    line-height: 1.3; 
    text-align: center; 
    letter-spacing: 0.03em; 
    
}

.guarantee__item{
    color: #3D3D3D;
    font-style: 500;
    font-size: 12px; 
    line-height: 1.67;

}

.guarantee__accent{
    color: #FF6B09;
}