.hero{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 1.57;
    letter-spacing: 0.08em;
    padding-top: 20px;
    @media screen and (min-width: 768px) {
        padding-top: 80px;
    }

    &__container{
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    }

    &__text-contaier{
        margin-bottom: 40px;
        @media screen and (min-width: 768px) {
        margin-bottom: 48px;
        }
    }
    &__content-wrapper{
        margin-bottom: 40px;
        
            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }        
    }
    &__title{
        font-weight: 800;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
            font-size: 26px;
        }
        @media screen and (min-width: 1680px) {
            font-size: 58px;
        }
    }
    &__sub-text{
        font-weight: 500;
        font-size: 14px;
        color: var(--second-extra-color);
        @media screen and (min-width: 1680px) {
            font-size: 20px;
            line-height: 1.65;
            }

    }
    &__main-text-wrapper{
        @media screen and (min-width: 1680px) {
            display: flex;
        }
    }
    &__main-text{
        font-size: 14px;
        color: var(--main-color);
        line-height: 1.65;
        @media screen and (min-width: 1680px) {
            font-size: 20px;
        }                           
    }
    &__accent-text{
        font-size: 14px;
        color: var(--accent-color);
        @media screen and (min-width: 1680px) {
            font-size: 20px;
            line-height: 1.65;
            color: var(--main-color);   
        }
    }
    &__btn{
        min-width: 280px;
        height: 48px;
        font-size: 12px;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--optional-color);
        background-color: var(--accent-color);
        border: 2px solid var(--accent-color);
            @media screen and (min-width: 768px) {
                min-width: 260px;
            }
            @media screen and (min-width: 1680px) {
                min-width: 354px;
                height: 70px;
                font-size: 14px;
                line-height: 1.21;
                padding: 0 70px;

            }
    }

    &__img{
        flex: 0 0 208px;
        height: 178px;
        background-color: teal;
        margin: 0 auto;

            @media screen and (min-width: 768px) {
                flex: 0 0 376px;
                height: 321px;
                margin: 0;
            }
            @media screen and (min-width: 1680px) {
                flex: 0 0 842px;
                height: 718px;
                margin: 0;
            }
    }
}