.education {
    padding-bottom: 40px;
}

.education__title {
    color: var(--main-color);
    text-align: center;
   
}
.education__text {
    color: var(--main-color);
    text-align: center;
    position: relative;
    .education__item:hover & {
            color: var(--optional-color);
        }
}
.education__discription {
    color: var(--second-extra-color);
    text-align: center;

    .education__item:hover &{
        color: var(--optional-color);
    }
}

.education__item {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    text-align: center;

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    
        }
}
.education__item:hover .education__icon{
    fill: var(--optional-color);
}

.education__text::after {
    content: '';
    width: 20px;
    height: 4px;
    position: absolute;
    bottom: 0;
    border-radius: 2px;
    left: 50%;
    background: var(--accent-color);
    transform: translateX(-50%);
}
.education__item:hover .education__text::after {
    background: var(--optional-color);

}

.education__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

}
.education__icon {
    fill: var(--accent-color);
}
//480+
@media screen and (max-width:767.98px){
    .education__title {
           @include font-style (800, 20px, 26px, 0.03em);
            margin-bottom: 32px
        }
    .education__item:not(:last-child) {
             margin-bottom: 16px;
         }
    .education__text {
             @include font-style (700, 14px, 20px, 0.08em);
         }
    .education__discription {
             @include font-style (500, 12px, 20px, 0.08em);
             
         }
    .education__item {
                     width: 298px;
                     height: 280px;
                     padding-top: 32px;
                     padding-bottom: 8px;
                     padding-left: 15px;
                     padding-right: 15px;
                    }  
    .education__text {
                    padding-bottom: 18px;
                    margin-bottom: 18px;
          }
     .education__icon {
        margin-bottom: 20px;
}     
}

//768+
@media screen and (min-width: 768px){
    .education__title {
            @include font-style (800, 26px, 34px, 0.03em);
            margin-bottom: 40px;
        }
         .education__text {
             @include font-style (700, 14px, 20px, 0.08em);
         }
    .education__discription {
             @include font-style (500, 12px, 20px, 0.08em);
             
         }
     .education__list {
             display: flex;
            flex-wrap: wrap;
            margin-left: -32px;
            margin-top: -24px;
}
    .education__item{
            margin-left: 32px;
            margin-top: 24px;
            flex-basis: calc((100% - 64px) / 2);
}
        .education__item {
            width: 336px;
            height: 336px;
            padding-top: 40px;
            padding-bottom: 8px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .education__text {
            padding-bottom: 22px;
            margin-bottom: 22px;
        }
         .education__icon {
             margin-bottom: 32px;
         }

}

//1680+
@media screen and (min-width: 1680px){
    .education__title {
            @include font-style (800, 46px, 60px, 0.03em);
            margin-bottom: 40px;
            text-align: start;
        }
         .education__text {
             @include font-style (700, 20px, 28px, 0.08em);
         }
    
         .education__discription {
             @include font-style (500, 18px, 28px, 0.08em);
    
         }
                .education__list {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -32px;
                    margin-top: -31px;
                }
        
                .education__item {
                    margin-left: 32px;
                    margin-top: 31px;
                    flex-basis: calc((100% - 96px) / 3);
                }
                .education__item {
                    width: 528px;
                    height: 492px;
                    padding-top: 90px;
                    padding-bottom: 80px;
                    padding-left: 82px;
                    padding-right: 82px;
                }

                .education__text {
                    padding-bottom: 22px;
                    margin-bottom: 22px;
                }
                 .education__text {
                     padding-bottom: 18px;
                     margin-bottom: 18px;
                 }
}

