.program {
        background-color: var(--main-color);
                
}

.program-container {
    padding-top: 40px;
    padding-left: 10px;
}
.program__list {
        // border-left: border 1px solid var(--optional-color);
        text-align: left;
}
.program__title {
        font-family: var(--font-family-main);
        
        @include font-style (800, 20px, 26px, 0.03em);
        margin-bottom: 40px;
        color: var(--optional-color);
}
.program__term {
        font-family: var(--font-family-main);
        @include font-style (700, 14px, 28px, 0.08em);
        text-transform: uppercase;
    
        margin-bottom: 12px;
        color: var(--optional-color);
}
.program__subject {
        font-family: var(--font-family-main);
        @include font-style (700, 12px, 20px, 0.08em);
    
        color: var(--accent-color);
}
.program__topic {
        font-family: var(--font-family-main);
        @include font-style (500, 12px, 20px, 0.08em);
        
            color: var(--second-extra-color);
            opacity: 0.5;
}
// mobile+tablet
@media screen and (max-width: 1679px) {
    .program__item:not(:last-child) {
            margin-bottom: 40px;
        }
    .program__list {
        border-left: 1px solid #FFFFFF;
    }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1679) {
    .program__order-list:not(:last-child) {
        margin-right: 40px;
    }
    .program__order {
        display: flex;
    }
}






// @media screen and (min-width: 1680px) {
//     .program__list {
//         display: flex;
//         justify-content: space-around;
//     }
//     .program__topic {
//         @include font-style (500, 18px, 28px, 0.08em);
//     }
// }