.problems {
    position: relative;
    background-image: linear-gradient(to bottom,
    var(--main-color) 75%,
    var(--optional-color) 25%);

    padding-bottom: 40px;
    z-index: -2;

    @media screen and (min-width: 1680px) {
        padding-bottom: 80px;
    }
}

.problems::after {
    @media screen and (min-width: 1680px) {
        content: '';
        position: absolute;
        display: block;
        top: 80px;
        right: 0;

        background-image: url(/images/icon-fire-problems.svg);
        width: 446px;
        height: 621px;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.7;
        z-index: -1;
    }
}

.problems__title {
    @include font-style (800, 24px, 31px, 0.03em);
    color: var(--optional-color);
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 25px;
    }

    @media screen and (min-width: 1680px) {
        padding-top: 80px;
        padding-bottom: 80px;
        font-size: 46px;
        line-height: 1.3;
    }
}

.problems__title--color {
    color: var(--accent-color);
}

.problems__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: number 0;

    background-color: var(--optional-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding: 20px 32px 20px 32px;


    @media screen and (min-width: 768px) and (max-width: 1679.98px) {
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media screen and (min-width: 1680px) {
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.problems__item {
    position: relative;
    counter-increment: number 1;
    @include font-style (700, 14px, 24px, 0.08em);

    &::before {
        content: "0" counter(number);
        padding-left: 30px;
        color: var(--accent-color);
        
        @media screen and (max-width: 1679.98px) {
            margin-bottom: 5px;
        }
            
        @media screen and (min-width: 1680px) {
            margin-bottom: 8px;
        }
    }

    @media screen and (max-width: 767.98px) {
        &:not(:last-child){ 
            margin-bottom: 16px;
        }
    }

    @media screen and (min-width: 768px) {
        margin-right: 32px;
        width: 215px;

        &:not(:nth-last-child(-n+2)){ 
            margin-bottom: 44px;
        }
    }

    @media screen and (min-width: 1680px) {
        margin-right: 100px;
        width: 336px;
        font-size: 20px;
        line-height: 1.4;

        &:not(:nth-last-child(-n+3)){ 
            margin-bottom: 72px;
        }
    }
}

.problems__hyphen {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    height: 2px;
    width: 20px;
    background: var(--accent-color);
}

.problems__text {
    color: var(--main-color);
}