// .mobile-review-container{
//   display: flex;
//   justify-content: center;
// }
.review__title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 24px;   
  font-family: Montserrat;
  font-style: ExtraBold ;
  font-size: 20px; 
  line-height: 1,3 ;
}
.review__img{
  margin-left: auto;
  margin-right: auto;
}
.review__vk{
text-align: center;
}